{% load static %}
<!-- Products Start -->
<div class="container-fluid product py-5 my-5">
    <div class="container py-5">
        <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="fs-5 fw-medium fst-italic text-primary">Our Products</p>
            <h1 class="display-6">Vinilla sweet products</h1>
        </div>
        <div class="owl-carousel product-carousel wow fadeInUp" data-wow-delay="0.5s">
            <a href="" class="d-block product-item rounded">
                <img style="height: 230px;" src="{% static 'img/vinilla-1.jpg' %}" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Vanilla Powder</h4>
                    <span class="text-body">Elevating ordinary moments into extraordinary, flavorful experiences with every sprinkle.</span>
                </div>
            </a>
            <a href="" class="d-block product-item rounded">
                <img style="height: 230px;" src="{% static 'img/vanilla-23.jpg' %}" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Vinilla Pod</h4>
                    <span class="text-body">Slender, aromatic treasures enriching creations with timeless culinary allure.</span>
                </div>
            </a>
            <a href="" class="d-block product-item rounded">
                <img style="height: 230px;" src="{% static 'img/vinilla-24.jpg' %}" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Vanilla Cuts</h4>
                    <span class="text-body">Delicate sweetness transforms, elevating creations with aromatic allure in every slice</span>
                </div>
            </a>

            <a href="" class="d-block product-item rounded">
                <img style="height: 230px;" src="{% static 'img/vanilla-22.jpg' %}" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Vanilla Caviar</h4>
                    <span class="text-body">Aromatic pearls, elevating dishes with exquisite flavor and gourmet sophistication</span>
                </div>
            </a>
        </div>
    </div>

    <div class="container py-5">
        <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6">Cocoa sweet products</h1>
        </div>
        <div class="owl-carousel product-carousel wow fadeInUp" data-wow-delay="0.5s">
            <a href="" class="d-block product-item rounded">
                <img style="height: 230px;" src="{% static 'img/cocoa-1.webp' %}" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Cocoa Powder</h4>
                    <span class="text-body">The alchemy of indulgence, transforming simplicity into decadence, a velvety elixir that sweetens life with every luscious.</span>
                </div>
            </a>
            <a href="" class="d-block product-item rounded">
                <img style="height: 230px;" src="{% static 'img/cocoa-2.jpg' %}" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Cocoa Beans</h4>
                    <span class="text-body">Tiny treasures of the tropics, the source of chocolate's magic, each bean a journey from earth to delight.</span>
                </div>
            </a>

            <a href="" class="d-block product-item rounded">
                <img style="height: 230px;" src="{% static 'img/cocoa-3.webp' %}" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Cocoa butter</h4>
                    <span class="text-body">Nature's silk for your senses, a luxurious embrace that melts into perfection, nurturing skin with divine softness and love.</span>
                </div>
            </a>
        </div>
    </div>

    <div class="container py-5">
        <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6">Sun Flower products</h1>
        </div>
        <div class="owl-carousel product-carousel wow fadeInUp" data-wow-delay="0.5s">
            <a href="" class="d-block product-item rounded">
                <img style="height: 230px;" src="{% static 'img/sunflowe-1.jpg' %}" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">sunflower seeds</h4>
                    <span class="text-body">Nature's bites of sunshine, a crunchy symphony of nutrients, bringing joy and energy with every wholesome nibble.</span>
                </div>
            </a>
            <a href="" class="d-block product-item rounded">
                <img style="height: 230px;" src="{% static 'img/sunflowe-2.jpg' %}" alt="">
                <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h4 class="text-primary">Sunflower oil</h4>
                    <span class="text-body">Golden elixir from sun-kissed petals, it dances in dishes, bringing light and a touch of warmth.</span>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Products End -->